@charset "UTF-8";
@import url("../css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400;1,600;1,700&display=swap");

@font-face {
  font-family: toilsifyfont;
  src: url(../font/Inter-Light.ttf);
  font-weight: bold;
}

@font-face {
  font-family: toilsifypfont;
  src: url(../font/Inter-Medium.ttf);
  font-weight: bold;
}

@font-face {
  font-family: toilsifyhfont;
  src: url(../font/Inter-ExtraBold.ttf);
  font-weight: bold;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: 0.5s ease-in;
}

::scrollbar {
  width: 10px;
}

/* Track */
::scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::scrollbar-thumb {
  background: #eee;
}

/* Handle on hover */
::scrollbar-thumb:hover {
  background: #555;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

ul,
li {
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'inter', sans-serif;
  line-height: 2.0;
}

h1 {

  font-family: toilsifyhfont !important;
}

body {

  background-color: #000;
  background-image: url("../img/toil2.png");
}


/*** LANDING PAGE ***/
#home i {

  color: #ffcf34;
}

#home h1 {

  font-family: toilsifyhfont;
  color: #fff;

}

#hometext {
  color: #fff;
  font-family: toilsifyfont;
  width: 100%;
  height: 100vh;
  display: flex;
}

#play, #web {

  width: 13rem;
}

#hbtn {
  border-radius: 10px;
  background-color: #ffcf34;
  color: #000;
  border: none;
}

#hbtn:hover {
  background-color: #000;
  color: #ffcf34;
  border: 2px solid #fff;
}

#home p {
  font-family: toilsifypfont;
}

/*** END OF LANDING PAGE **/



/*** About *********/

.card {

  background-color: #121212;
  border: 2px solid #121212;
  color: white;
}

#about i {
  color: #fcc100;
  border-radius: 80%;
  padding: 4%;
  font-size: 4rem;
}


/*** End of About section ****/

#login-btn {
  border: 1px solid #fcc100;
  color: #fcc100;
  padding: 6px 24px;
}

#login-btn:hover {
  background-color: #ffcf34;
  color: #fff;
  border: 1px solid #fcc100;
}

#abtn {
  border-radius: 10px;
  background-color: #ffcf34;
  color: #000;
  border: none;
}

#abtn:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid grey;
}


#round {
  background-color: #ffcf34;
  border-radius: 40px;
  padding: 5%;
}

.up-down-animation {
  animation: up_down 3s ease-in infinite alternate-reverse;
}

@-webkit-keyframes up_down {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

@keyframes up_down {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

.left-right-animation {
  animation: left_right 3s ease-in infinite alternate-reverse;
}

@-webkit-keyframes left_right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
}

@keyframes left_right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
}

/* send a review */
#review {
  background-color: #fcc100;
  border-radius: 10px;
  margin: 5rem 1.2rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.sbtn {
  align-items: center;
  /* background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85); */
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1;
  margin: 0;
  min-height: 1rem;
  padding: 10px 24px;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.sbtn:hover {
  transform: translateY(-1px);
}

.navs {
  color: #000;
  transition: 0.3s;
  border-radius: 2px;
}
.navs:hover {
  color: #eee;
  background-color: #000;
}
.nav-btn {
  outline: none;
  border: 0;
}

.sbtn:active {
  background-color: #ffffff;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
/* .lbnt:{

} */

#login-btn:focus,
#sign-up-btn:focus {
  box-shadow: none;
}

@media (min-width: 768px) {
  #review {
    margin: 8rem;
  }
}

/* form */
#form {
  margin: 0 6px;
  border-radius: 5px;
}

form .social-icons ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}
form .social-icons ul li a {
  font-size: 30px;
  color: #fcc100;
}

/* footer styling */
.footer1 {
  background-color: #555;
}
footer .main-footer {
  padding: 20px 0;
}
footer ul {
  list-style: none;
  padding-left: 0;
}
footer ul li a {
  text-decoration: none;
  transition: text-decoration 0.3s;
}
footer ul li a:hover {
  text-decoration: underline;
}
.widget {
  padding: 20px;
  margin-bottom: 40px;
}
.widget.no-box {
  padding: 0;
  background-color: transparent;
  margin-bottom: 40px;
}
.widget.toilsify p {
  margin-bottom: 18px;
}
.widget li a {
  color: #555;
}
.widget p a {
  text-decoration: none;
}
.widget li a:hover {
  color: #000;
}
.widget-title {
  margin-bottom: 20px;
}
.widget-title.main {
  font-weight: 700;
}

ul.social-footer2 {
  margin-top: 2px;
  padding: 0;
  width: auto;
}
ul.social-footer2 li {
  padding: 0;
}
ul.social-footer2 li a i {
  height: 15px;
  width: 15px;
}
.widget .thumbnail-widget li a {
  color: #271e00;
}

.footer-copyright {
  background: rgba(196, 196, 196, 0.3);
  padding: 5px 0;
}
.reg {
  background-color: #ffd000;
  color: rgb(54, 54, 54);
  font-weight: 600;
}
.reg:hover,
.reg:focus,
.reg.active {
  background: #4b92dc;
  color: #fff;
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 250ms ease-in-out 0s;
  -moz-transition: all 250ms ease-in-out 0s;
  -ms-transition: all 250ms ease-in-out 0s;
  -o-transition: all 250ms ease-in-out 0s;
  transition: all 250ms ease-in-out 0s;
}

/********** RESPONSIVENESS **********/

/* For 480 Resolution - Laptop*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* STYLES GO HERE */
  #home h1 {
    font-size: calc(1.375rem + 2.9vw);
  }
  #home p {
    font-size: 0.8rem;
  }

  #play, #web {

    width: 11rem;
  }
}

/* For 640 Resolution - mobile */
@media only screen and (min-device-width: 360px) and (max-device-width: 640px) {
  #home p {
    font-size: 0.83rem !important;
  }
  #play, #web {

    width: 11rem;
  }
}

/* For 1024 Resolution - laptop 1 */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* STYLES GO HERE */
  #home h1 {
    font-size: calc(1.775rem + 1.9vw) !important;
  }

  #home p {
    font-size: inherit !important;
  }
  #play, #web {

    width: 11rem;
  }
}

/* For 1366 Resolution  -- laptop 2*/
@media only screen and (min-width: 1030px) and (max-width: 1366px) {
  /* STYLES GO HERE */
}

/** desktop screen */
@media only screen and (min-width: 1370px) and (max-width: 1605px) {
  /* STYLES GO HERE */
}

/*Ipad Orientation : Landscape */
@media only screen and (orientation: landscape) and (min-device-pixel-ratio: 1) and (min-device-width: 768px) and (max-device-width: 1007px) {
  /* STYLES GO HERE */
}

/*ipad Orientation : Portrait */
@media only screen and (orientation: portrait) and (min-device-pixel-ratio: 1) and (min-device-width: 768px) and (max-device-width: 1007px) {
  /* STYLES GO HERE */
}
