@charset "UTF-8";
@import url("../css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400;1,600;1,700&display=swap");

@font-face {
  font-family: toilsifyfont;
  src: url(../font/Inter-Light.ttf);
  font-weight: bold;
}

@font-face {
  font-family: toilsifypfont;
  src: url(../font/Inter-Medium.ttf);
  font-weight: bold;
}

@font-face {
  font-family: toilsifyhfont;
  src: url(../font/Inter-ExtraBold.ttf);
  font-weight: bold;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: 0.5s ease-in;
}

::scrollbar {
  width: 10px;
}

/* Track */
::scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::scrollbar-thumb {
  background: #eee;
}

/* Handle on hover */
::scrollbar-thumb:hover {
  background: #555;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

ul,
li {
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'inter', sans-serif;
  line-height: 2.0;
}


h1 {

  font-family: toilsifyhfont !important;
}


body {

  background-color: #000;
  background-image: url("../img/toil2.png");
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}


hr {

  color: white;
  text-align: center !important;
  align-self: center !important;
  justify-self: center !important;
}


footer p {
  color: #626262;
  font-weight: bold;
}

.navbar {

  background-color: #121212 !important;
  color: #fff !important;
  position: fixed !important;
  width: 100%;
  z-index: 9999;
}


/*** LANDING PAGE ***/
#home i {

  color: #fba81c;
}

#home h1 {

  font-family: toilsifyhfont;
  color: #fff;

}

#hometext {
  color: #fff;
  font-family: toilsifyfont;
  width: 100%;
  height: 100vh;
  display: flex;
}

#play, #web {

  width: 13rem;
}

#hbtn {
  border-radius: 10px;
  background-color: #fba81c;
  color: #000;
  border: none;
}

#hbtn:hover {
  background-color: #000;
  color: #fba81c;
  border: 2px solid #fff;
}

#home p {
  font-family: toilsifypfont;
}

/*** END OF LANDING PAGE **/



/*** About *********/

.card {

  background-color: #121212;
  border: 2px solid #121212;
  color: white;
}

#about i {
  color: #fba81c;
  border-radius: 80%;
  padding: 4%;
  font-size: 4rem;
}


/*** End of About section ****/



/****** Accordion Tab *****/

.accordion-item, .accordion-header, .accordion-button {

  background-color: #121212 !important;
  color: #626262;
  font-family: toilsifyfont;
}


/***** End of Accordion Tab ****/

#login-btn {
  border: 1px solid #fba81c;
  color: #fba81c;
  padding: 6px 24px;
}

#login-btn:hover {
  background-color: #fba81c;
  color: #fff;
  border: 1px solid #fba81c;
}

#abtn {
  border-radius: 10px;
  background-color: #fba81c;
  color: #000;
  border: none;
}

#abtn:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid grey;
}


#round {
  border-radius: 40px;
  padding: 5%;
  color: white;
}


#review {
  background-color: #fba81c;
  border-radius: 10px;
  margin: 5rem 1.2rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

/**** CSS ANIMATIONS *****/

.up-down-animation {
  animation: up_down 3s ease-in infinite alternate-reverse;
}


@-webkit-keyframes up_down {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}


@keyframes up_down {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}


.left-right-animation {
  animation: left_right 3s ease-in infinite alternate-reverse;
}


@-webkit-keyframes left_right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
}

@keyframes left_right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}


/***** End of Animations ****/


/********** RESPONSIVENESS **********/

/* For 480 Resolution - Laptop*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* STYLES GO HERE */
  #home h1 {
    font-size: calc(1.375rem + 2.9vw);
  }
  #home p {
    font-size: 0.8rem;
  }

  #play, #web {

    width: 11rem;
  }
  
  #round {
    border-radius: 20px;
    padding: 2%;
  }

  #round h1 {
    font-size: calc(1.275rem + 0.5vw);
  }
}

/* For 640 Resolution - mobile */
@media only screen and (min-device-width: 360px) and (max-device-width: 640px) {
  #home p {
    font-size: 0.83rem !important;
  }
  #play, #web {

    width: 11rem;
  }

  #hometext {

    height: 80vh;
  }
}

/* For 1024 Resolution - laptop 1 */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* STYLES GO HERE */
  #home h1 {
    font-size: calc(1.775rem + 1.9vw) !important;
  }

  #home p {
    font-size: inherit !important;
  }
  #play, #web {

    width: 11rem;
  }
}

/* For 1366 Resolution  -- laptop 2*/
@media only screen and (min-width: 1030px) and (max-width: 1366px) {
  /* STYLES GO HERE */
}

/** desktop screen */
@media only screen and (min-width: 1370px) and (max-width: 1605px) {
  /* STYLES GO HERE */
}

/*Ipad Orientation : Landscape */
@media only screen and (orientation: landscape) and (min-device-pixel-ratio: 1) and (min-device-width: 768px) and (max-device-width: 1007px) {
  /* STYLES GO HERE */
}

/*ipad Orientation : Portrait */
@media only screen and (orientation: portrait) and (min-device-pixel-ratio: 1) and (min-device-width: 768px) and (max-device-width: 1007px) {
  /* STYLES GO HERE */
}
